*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url('../static/images/nav.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.container{
    color: white;
}